ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: green;
    box-shadow: 10px 10px 15px gray;
}

li {
    float: right;
}

li a{
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

li:hover{
    background-color: #00e600;
}

li #cardsets {
}

li #logout {
 
}