.loginpage {
    position: absolute;
    top: 10%;
    height: 100%;
    width: 100%;
}

h1 {
    margin-bottom: 10px;
}

.loginbox {
    position: absolute;
    background-color: whitesmoke;
    margin: 0;
    border-radius: 10px;
    width: 30%;
    right: 35%;
    padding: 50px 10px;
}

.log-username, .log-password {
    width: 90%;
    padding: 12px 20px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    margin-top: 8px;
    font-size: 14px;
}

.log-submit-btn {
    display: inline-block;
    margin: 25px 0 0;
    cursor: pointer;
    width: 40%;
    height: 30px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
}

.log-submit-btn:hover {
    background-color: #45a049;
}

.register-page {
    position: absolute;
    top: 10%;
    height: 100%;
    width: 100%;
}

.register-box {
    position: absolute;
    background-color: whitesmoke;
    margin: 0;
    border-radius: 10px;
    width: 30%;
    right: 35%;
    padding: 50px 10px;
}

.reg-username, .reg-password, .reg-email {
    width: 90%;
    padding: 12px 20px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    margin-top: 8px;
    font-size: 14px;
}

.reg-submit-btn {
    display: inline-block;
    margin: 25px 0 0;
    cursor: pointer;
    width: 40%;
    height: 30px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
}

.reg-submit-btn:hover {
    background-color: #45a049;
}